{{template templates.head mode}}
<html>

<script type="text/javascript" src="http://2016.igem.org/Template:Waterloo/d3?action=raw&amp;ctype=text/javascript"></script>
  <script type="text/javascript" src="http://2016.igem.org/Template:Waterloo/cal-heatmap?action=raw&amp;ctype=text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="http://2016.igem.org/wiki/index.php?title=Template:Waterloo/CSS/cal-heatmap&action=raw&ctype=text/css">
{{navigation mode "project" "notebook"}}
<div class="content">
<div class="titleBox row" style="background: url({{image "notebook.jpg" "directlink" mode}})">
<div class="layer shade">
<div class="squiggle squiggleForward col-xs-4"></div>
<div class="titleCaption col-xs-4">
<h1>
Notebook
</h1>
</div>
<div class="squiggle squiggleBackward col-xs-4"></div>
</div>
</div>

<div>
  <embed class="pdfobject" src="http://2018.igem.org/wiki/images/9/95/T--Waterloo--Notebook-Lab-Notebook.pdf" type="application/pdf" style="overflow: auto; width: 100%; height: 100%;">
</div>

</div>
</html>
{{template templates.footer mode}}
