{{template templates.head mode}}
<html>

{{navigation mode "_team" "team"}}
<div class="content team">
  <div class="titleBox row" style="background: url({{image "teamphoto.jpg" "directlink" mode}})">
    <div class="layer shade">
      <div class="squiggle squiggleForward col-xs-4"></div>
      <div class="titleCaption col-xs-4">
        <h1>
          Our Team
        </h1>
      </div>
      <div class="squiggle squiggleBackward col-xs-4"></div>
    </div>
  </div>
  <div class="content-main">
    <div>
      <div class="ip-group-wrapper">
        <div class="memberList row" v-for="memberPair in memberPairs">
            <div class="col-sm-3">
            <div class="lightbulb" v-bind:style="{ backgroundImage: 'url(' + memberPair[0].picture + ')' }"></div>
          </div>
          <div class="col-sm-3">
            <div class="teamMemberInfo">
              <h2>^^memberPair[0].name + (memberPair[0].nickname ? ' (' + memberPair[0].nickname + ')' : '')$$</h2>
              <p>^^(memberPair[0].year || '') + (memberPair[0].year ? ', ' : '') + (memberPair[0].subteam || '')$$</p>
              <p>^^memberPair[0].bio$$</p>
            </div>
          </div>
	  <div class="col-sm-3" v-if="memberPair.length > 1">
            <div class="lightbulb" v-bind:style="{ backgroundImage: 'url(' + memberPair[1].picture + ')' }"></div>
          </div>
	  <div class="col-sm-3" v-if="memberPair.length > 1">
            <div class="teamMemberInfo">
              <h2>^^memberPair[1].name + (memberPair[1].nickname ? ' (' + memberPair[1].nickname + ')' : '')$$</h2>
              <p>^^(memberPair[1].year || '') + (memberPair[1].year ? ', ' : '') + (memberPair[1].subteam || '')$$</p>
              <p>^^memberPair[1].bio$$</p>
            </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
var teamPage = new Vue({
  el: ".team",
  delimiters: ['^^', '$$'],
  data:{
    ip: {
    parent: "IP",
    members: [
      {'name': 'Maximilian Reed', 'picture': 'http://2018.igem.org/wiki/images/9/98/T--Waterloo--team-MaxR.jpeg', 'year': '4A Nanotechnology Engineering', 'nickname': 'MAAAAAAAXXXXX', 'subteam': 'Lab', 'bio': 'having lost my soul during iGEM 2017, i am no longer afraid. nothing can stop or hurt me.'},
      {'name': 'Sebastien Carman', 'picture': 'http://2018.igem.org/wiki/images/4/45/T--Waterloo--team-Seb.jpeg', 'year': '3A Biotechnology & Economics', 'nickname': 'Seb', 'subteam': 'Lab', 'bio': 'Significantly more waste than last year.'},
      {'name': 'Clara Fikry', 'picture': 'http://2018.igem.org/wiki/images/4/4c/T--Waterloo--team-Clara.png', 'year': '3A Health Studies & Biology', 'nickname': 'Clarafication', 'subteam': 'Lab', 'bio': 'My favourite experiment was the one where we tested if methionene was shared between cells. It took a many design iterations and a few trials, but it worked and the results were just so beautiful. Read more on our design and results pages.'},
      {'name': 'Chirayu Patel', 'picture': 'http://2018.igem.org/wiki/images/9/97/T--Waterloo--team-Ray.jpeg', 'year': '4B Biochemistry, Biotechnology Specialization', 'nickname': 'Ray', 'subteam': 'Lab', 'bio': 'Stay hungry. Stay foolish.'},
      {'name': 'Nicole Lassel', 'picture': 'http://2018.igem.org/wiki/images/9/95/T--Waterloo--team-NicoleL.jpeg', 'year': '4A Science and Business, Biology Specialization', 'subteam': 'Lab', 'bio': 'This was my first time working with iGEM, and I was especially lucky to be fully exposed to synthetic biology by being Waterloo iGEM\'s co-op student during the Spring term.  From making some of the most competent cells ever to keeping the lab safe and sparkling clean, there was always something going on in the lab. I\'m happy I learned so many new technical skills, and grew as a scientist and individual!'},
      {'name': 'Nicolette Shaw', 'picture': 'http://parts.igem.org/wiki/images/9/9c/T--Waterloo--team-Nicki.jpeg', 'year': '2A Biochemistry', 'nickname': 'Nicki', 'subteam': 'Lab', 'bio': 'If I had a dollar for every gel I made, I still wouldn\’t be able to make up for the 45ul of gelred I wasted by accident.'},
      {'name': 'Nicole Wang', 'picture': 'CHANGE', 'year': '4A Biology ;)', 'subteam': 'Lab', 'bio': 'Just another Nicole in iGEM'},
      {'name': 'Marina Robin', 'picture': 'http://parts.igem.org/wiki/images/3/3c/T--Waterloo--team-Marina.jpeg', 'year': '2A Honours Science', 'subteam': 'Lab', 'bio': 'Highly proficient in syringe filter sterilization'},
      {'name': 'Dylan Perera', 'picture': 'http://2018.igem.org/wiki/images/0/06/T--Waterloo--team-Dylan.jpeg', 'year': '3A Biochemistry', 'subteam': 'Lab', 'bio': 'I\'m proud to say our interlab samples survived the long and perilous cross-campus journey to the plate reader without getting too drenched.'},
      {'name': 'Leah Fulton', 'picture': 'http://2018.igem.org/wiki/images/a/a2/T--Waterloo--team-Leah.jpeg', 'year': '3A Biology', 'subteam': 'Lab', 'bio': 'Didn\'t sleep much, but I learned a lot.'},
      {'name': 'Poonam Furmah', 'picture': 'CHANGE', 'year': '4B Biology', 'subteam': 'Lab', 'bio': 'Dropped more lab samples than beats dropped at an EDM festival.'},
      {'name': 'Cameron Martin', 'picture': 'CHANGE', 'year': '3A Nanotechnology Engineering', 'nickname': 'C-NA$TY', 'subteam': 'Lab', 'bio': 'Was really hungry at training.'},
      {'name': 'Dean Stipanic', 'picture': 'http://2018.igem.org/wiki/images/d/df/T--Waterloo--team-Dean.png', 'year': '3A Nanotechnology Engineering', 'subteam': 'Lab', 'bio': 'Spirit Animal: Actinidia deliciosa'},
      {'name': 'Amanda Kuang', 'picture': 'CHANGE', 'year': '2B Biochemistry', 'subteam': 'Lab', 'bio': 'Waterloo iGEM is hot to go, spelled H-O-T-T-O-G-O'},
      {'name': 'Vincent Halim', 'picture': 'http://2018.igem.org/wiki/images/b/b3/T--Waterloo--team-Vincent.jpeg', 'year': '4A Biochemistry, Biotechnology Specialization', 'subteam': 'Lab', 'bio': 'Spend hours making YPD plates, then sneezed at it'},
      {'name': 'Caleb Innes', 'picture': 'http://2018.igem.org/wiki/images/a/a2/T--Waterloo--team-Caleb.jpeg', 'year': '3A Honours Science', 'subteam': 'Lab', 'bio': 'Don\’t put ladder into your sample wells ...'},
      {'name': 'Cody Receno', 'picture': 'http://2018.igem.org/wiki/images/4/45/T--Waterloo--team-Cody.jpeg', 'year': '4A Computer Science and Bioformatics', 'subteam': 'Math', 'bio': 'My third year on iGEM and it was truly a different experience. The people on Waterloo iGEM have inspired me greatly.'},
      {'name': 'John Dewhurst', 'picture': 'http://2018.igem.org/wiki/images/4/4e/T--Waterloo--team-John.jpeg', 'year': '4B Applied Mathematics, Biology Minor', 'subteam': 'Math', 'bio': 'Strange things happen at infinity'},
      {'name': 'Michael Astwood', 'picture': 'http://2018.igem.org/wiki/images/7/71/T--Waterloo--team-Michael.jpeg', 'year': '2B Mathematical Physics, Astrophysics and Pure Math minors', 'nickname': ':^)', 'subteam': 'Math', 'bio': 'Bacteria sure are nifty'},
      {'name': 'Alina Arvisais', 'picture': 'http://2018.igem.org/wiki/images/c/ce/T--Waterloo--team-Alina.jpeg', 'year': '2A Biochemistry ', 'subteam': 'Math'},
      {'name': 'Atmn Patel', 'picture': 'http://2018.igem.org/wiki/images/f/fc/T--Waterloo--team-Atmn.jpeg', 'year': '2A Computer Science', 'subteam': 'Math'},
      {'name': 'Jyler Menard', 'picture': 'http://parts.igem.org/wiki/images/4/4e/T--Waterloo--team-Jyler.jpeg', 'year': '3A Mathematical Physics', 'subteam': 'Math', 'bio': 'First time on iGEM and I found it rewarding.'},
      {'name': 'Shreya Prasad', 'picture': 'http://parts.igem.org/wiki/images/2/2f/T--Waterloo--team-Shreya.jpeg', 'year': '2B Computational Mathematics & Statistics', 'subteam': 'Math', 'bio': 'I loved this year\'s optogenetics project, learnt so much from all the amazingly talented people on the team.'},
      {'name': 'Weize Yuan', 'picture': 'http://2018.igem.org/wiki/images/d/de/T--Waterloo--team-Weize.jpeg', 'year': 'Materials and Nanosciences', 'subteam': 'Math', 'bio': 'Really learn a lot from iGEM team'},
      {'name': 'Isaac Ellmen', 'picture': 'http://2018.igem.org/wiki/images/2/25/T--Waterloo--team-Isaac.jpeg', 'year': '4A Combinatorics & Optimization, Pure Math', 'subteam': 'Math', 'bio': 'Brevity is the soul of wit'},
      {'name': 'Sarah Chan', 'picture': 'http://2018.igem.org/wiki/images/7/76/T--Waterloo--team-Sarah.jpeg', 'year': '4A Nanotechnology Engineering', 'subteam': 'Math', 'bio': 'Enjoyed learning a lot about applying math to biology! :)'},
      {'name': 'Kingsley Wong', 'picture': 'http://parts.igem.org/wiki/images/6/6d/T--Waterloo--team-Kingsley.jpeg', 'year': '3A Year Nanotechnology Engineering', 'nickname': 'The Waste King', 'subteam': 'Policy and Practices', 'bio': 'One day...just maybe...I\'ll be more like Max'},
      {'name': 'Simon Frew', 'picture': 'http://2018.igem.org/wiki/images/7/75/T--Waterloo--team-Simon.jpeg', 'year': '2A Year Nanotechnology Engineering', 'nickname': '^-^', 'subteam': 'Policy and Practices', 'bio': 'From 1B, through co-op, and in 2A, I have become less of a macro and more of a nano - thanks to iGEM!'},
      {'name': 'Christine Johnston', 'picture': 'http://2018.igem.org/wiki/images/1/10/T--Waterloo--team-Christine.jpeg', 'year': '3A Biomedical Sciences', 'nickname': '???', 'subteam': 'Policy and Practices', 'bio': 'Happy to be here, even though I miss my cat'},
      {'name': 'Anya Forestell', 'picture': 'http://2018.igem.org/wiki/images/b/b3/T--Waterloo--team-Anya.jpeg', 'year': '3B Physics and Astronomy', 'subteam': 'Policy and Practices', 'bio': 'I\’m never good at these things. I love outer space (black holes are pretty cool), Harry Potter (third and fourth books are my faves), feminism (Emma Watson is my idol), and getting involved in a bunch of stuff and learning new things (hello, iGEM!). This is my second year on iGEM, first year as PnP lead, it\’s been a great time leading this group of crazy kids <3'},
      {'name': 'Kristelle Canlas', 'picture': 'http://2018.igem.org/wiki/images/0/04/T--Waterloo--team-Kristelle.jpeg', 'year': '2A Nanotechnology Engineering', 'nickname': '¯\_(ツ)_/¯', 'subteam': 'Policy and Practices', 'bio': 'P and P? More like Pretty Amazing Psubteam'},
      {'name': 'Tamara Kailas', 'picture': 'http://2018.igem.org/wiki/images/6/66/T--Waterloo--team-Tamara.jpeg', 'year': '4A Science and Business', 'subteam': 'Policy and Practices', 'bio': 'Contemplating policy, knowledge translation and what to eat next.'},
      {'name': 'Rajan Grewal', 'picture': 'CHANGE', 'year': '2A Health Studies', 'subteam': 'Policy and Practices', 'bio': ' Adios amoebas :))'},
      {'name': 'Hasna Besher', 'picture': 'CHANGE', 'year': '3A Biomedical Sciences', 'subteam': 'Policy and Practices'},
      {'name': 'Xuan Nguyen', 'picture': 'CHANGE', 'year': '3A Health Studies', 'nickname': 'Swan (but this is getting old)', 'subteam': 'Policy and Practices', 'bio': 'Wow, science profs are mentally stimulating. Honestly, wouldn\’t have gotten where I am today without being a part of such a multidisciplinary team. Thanks to iGEM, I can now rave about 3D printing'},


    ]
    }},
  computed: {
    memberPairs: function () {
    return this.ip.members.reduce(function(result, value, index, array) {
      if (index % 2 === 0)
        result.push(array.slice(index, index + 2));
      return result;
    }, []);
  }
}
}
)
</script>
</html>
{{template templates.footer mode}}
